[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
google-genai = "*"
cryptography = "*"
pyyaml = "*"
openai = "*"

[dev-packages]
pyinstaller = "*"
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
